*{
  margin: 0;
  padding: 0;
}
body{
  background-color:black ;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
h5{
  color: black;
  text-align: center;
  text-transform: uppercase;
}



nav{
  background-color: black;
  box-shadow: 3px 3px 5px gold;

}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;

}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;

}
nav li:first-child{
  margin-right: auto;


}
.menuC{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 3px 3px 5px gold;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);

}
.menuC li{
  width: 100%;
}
.menuC a{
  width: 100%;
}
.menulado{
  display: none;
}
@media (max-width: 579px){
  .menu1{
    display: none;
  }
  .menulado{
    display: flex;
  }
}
@media (max-width: 390px){

  .menuC{
    width: 100%;
  }
}
h1{
  color: white;
  font-weight: 100;
  letter-spacing: 4px;
  font-size: 25px;
  user-select: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
}
.foto{
  margin-top: 40px;
  border-radius: 8px
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
 
  
  
}
.container-flex img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
  padding: 15px;
  
  
  
}
.fc{
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 60px;
  justify-content: flex-end;
  align-items: center;
}
.fc a{
  margin: 50px;

}

.conheça{
  width: 200px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: .5s;
  border: none;
  background-color: black;
  }


.ferrari{
  margin: 0;
  font-family: Roboto,Helvetica Neue,Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #202020;
  text-align: left;
  background-color: #fff;
}
.tt{
  color: black;
    font-size: 2.8rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.062rem;
    margin-top: 1.8rem;
}
@media (max-width: 1024px){

  .tt {
    font-size: 2.8rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.062rem;
    margin-top: 1.8rem;
  }
}
.ptt{
  flex: 0 0 100%;
  max-width: 100%;
  

}
.dv1{
  color: black;
  margin-bottom: 20px;

}



.imagen{
  width: 60%; 
  height: auto; 
  position: center;
  margin-left: 20%;
}

.texto{
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
}

footer{
  background-color: rgb(112, 110, 110);
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  width: 100%;
  bottom: 0;
  
}
.footerm{
  background-color: rgb(112, 110, 110);
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
  
}
.container{
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
  
}
.footer-content{
  width: 40%;
}
h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p{
  width:190px;
  margin: auto;
  padding: 7px;
}
.footer-content ul{
  text-align: center;
}
.list{
  padding: 0;
}
.list li{
  width: auto;
  text-align: center;
  list-style-type:none;
  padding: 7px;
  position: relative;
}


.social-icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
}

a{
  text-decoration: none;
}


@media screen and (max-width: 780px) {
  .container{
      width: 100%; 
      height: 100%;
  }
}


@media screen and (min-width: 781px) and (max-width: 1000px) {
  .container {
      width: 48%; 
  }
}

/* css do formulario*/
.formulario{
  background-color: white;


}
form{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  width: 50%;
  height: 50% ;
  margin: 0 auto;
  text-transform: uppercase;
}
button{
  padding: 10px;
  cursor: pointer;
}

h1{
  color: black;
}
.sexo{
  display: flex;
  flex-direction: row;
  

}







